:root{
    --color-primary-light:202, 55, 130;
    --color-primary-dark: 30, 11, 54;
    --color-black: #000;
    --color-gray-dark: #aaa;
    --color-gray-light: #eee;
    --color-white: #fff;
    --background-color: #ece0e8;
    --color-tomatoe:224,80,80;
}

